/* ===== ADMIN PANEL STYLES ===== */
@import url('./variables-shared.css');

:root {
  --admin-gap: 60px;
  --admin-column-width: 120px;
}

/* Row Flex */
.admin-form-flex {
  display: flex;
  gap: var(--admin-gap);
  width: 100%;
  align-items: center;
}

.admin-form-flex input,
.admin-form-flex textarea {
  width: 100%;
}

.admin-form-flex h4 {
  width: var(--admin-column-width);
}

.admin-form-flex .column1,
.admin-form-flex .column2 {
  flex: 1;
}

.admin-image-form>div {
  height: 100%;
}

.admin-image-form {
  margin: var(--space-12) 0;
}